<nav id="primary_nav_wrap" class="navbar navbar-fixed-top navbar-dark bg-inverse" role="navigation">
  <a class="navbar-brand" href="{{ site.baseurl }}/">
    {{ site.title }}
  </a>
  <ul class="nav navbar-nav">

    {% if page.title == 'Home' %}
    <li class="nav-item active">
    {% else %}
    <li class="nav-item">
    {% endif %}
      <a class="nav-link" href="{{ site.baseurl }}/">
        <i class="fa fa-home fa-lg" aria-hidden="true"></i>
      </a>
    </li>

    {% if page.title != 'Home' %}
    <li class="nav-item active">
    {% else %}
    <li class="nav-item">
    {% endif %}
      <a href="#" class="nav-link">
        Guides <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
      </a>
      <ul>
        {% for node in site.pages %}
        {% unless node.exclude %}
          {% if node.title %}
            {% if page.url == node.url %}
              <li class="nav-item active">
                <a class="nav-link" href="{{ node.url }}">{{ node.title }}</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ node.url }}">{{ node.title }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endunless %}
        {% endfor %}
      </ul>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        PDF <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
      </a>
      <ul>
        {% for node in site.pages %}
        {% unless node.exclude %}
          {% if node.title %}
            <li class="nav-item">
              <a class="nav-link" href="{% asset_path {{node.title}}.pdf %}" target="_blank">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endunless %}
        {% endfor %}
      </ul>
    </li>

  </ul>

  {% img trans.gif class:close %}

</nav>