<nav class="navbar navbar-fixed-top navbar-dark bg-inverse" role="navigation">
  <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
  <ul class="nav navbar-nav">
    {% if page.title == 'Home' %}
    <li class="nav-item active">
    {% else %}
    <li class="nav-item">
    {% endif %}
      <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
    </li>

    {% for node in site.pages %}
    {% unless node.title == 'Home' %}
      {% if page.url == node.url %}
      <li class="nav-item active">
        <a class="nav-link" href="{{node.url}}">{{ node.title }}</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{node.url}}">{{ node.title }}</a>
      </li>
      {% endif %}
    {% endunless %}
    {% endfor %}
  </ul>
</nav>

