// Bootstrap Starter Template, with a few tweaks

body {
    padding-top: 5rem;
}

blockquote {
	padding: .5rem 1rem;
  margin-bottom: .5rem;
  font-size: 1.15rem;
  border-right: .25rem solid #eceeef;
  background: #FAFAFA;
}

blockquote p {
	margin: 0;
	text-align: right;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1.5rem;
	margin-bottom: .7rem;
}

h1 {
	margin-bottom: 1.5rem;
}

h2 {
	margin-bottom: 1.2rem;
}

hr {
	margin: .5rem;
}

pre {
	margin: 0;
}

.highlight {
	margin: 1.5rem;
	padding: .5rem;
	background: #eceeef;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.navbar-nav {
	float: right;
}