// Custom Styles

footer {
	font-size: .8rem;
}

table {
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: #333;
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	border: 1px solid #CCC;
	height: 30px;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-left: 1rem;
	padding-right: 1rem;

}

th {
background: #F3F3F3;
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

summary {
	padding: .3rem 1rem .3rem 1rem;
	background: #F3F3F3;
}

summary:hover {
	background: #FAFAFA;
	cursor: pointer;
}

a.anchor {
    display: block;
    position: relative;
    top: -5rem;
    visibility: hidden;
}

.disclaimer {
	font-size: .6rem;
}

.disclaimer-header {
	font-size: .7rem;
}

// .nav-link {
// 	cursor: pointer;
// }

.timestamp {
	font-size: .75rem;
	margin: 0 1rem 0 1rem;
}

.timestamp p {
	margin: 0;
}

// #navbar .hidden {
// 	display: none;
// }
// 
// /*Make dropdown links vertical*/
// #navbar ul li .sub-nav-item {
// 	display: block;
// 	float: none;
// }
// 
// /*Prevent text wrapping*/
// #navbar ul li .sub-nav-item a {
//  	width: auto;
//  	min-width: 100px;
// 	padding: 0 20px;
// }
// 
// /*Display the dropdown on hover*/
// #navbar ul li:hover ul {
//  	display: block;
// }

//////////////////////////////////////////////////////////////////

#primary_nav_wrap label {
	cursor: pointer;
}

#primary_nav_wrap ul
{
	list-style: none;
	// position: relative;
	// float: left;
	// margin: 0;
	// padding: 0;
}

#primary_nav_wrap ul a
{
	// display: block;
	// color: #333;
	// text-decoration: none;
	// font-weight: 700;
	// font-size: 12px;
	// line-height: 32px;
	// padding: 0 15px;
	// font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#primary_nav_wrap ul li
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0 .5rem 0 .5rem;
}

#primary_nav_wrap ul ul
{
	display: none;
	position: absolute;
	top: 100%;
	left: -.5rem;
	background: #373a3c;
	padding: 0;
}

#primary_nav_wrap ul ul li
{
	// float:none;
	width: 9em;
}

#primary_nav_wrap ul ul a
{
	// line-height:120%;
	// padding: 0;
}

#primary_nav_wrap ul li:hover > ul
{
	display: block;
}

#primary_nav_wrap ul li:focus > ul
{
	display: block;
}