// Custom Styles

footer {
	font-size: .8rem;
}

table {
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: #333;
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	border: 1px solid #CCC;
	height: 30px;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-left: 1rem;
	padding-right: 1rem;

}

th {
background: #F3F3F3;
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

summary {
	padding: .3rem 1rem .3rem 1rem;
	background: #F3F3F3;
}

summary:hover {
	background: #FAFAFA;
	cursor: pointer;
}

a.anchor {
    display: block;
    position: relative;
    top: -5rem;
    visibility: hidden;
}

.disclaimer {
	font-size: .6rem;
}

.disclaimer-header {
	font-size: .7rem;
}

.timestamp {
	font-size: .75rem;
	margin: 0 1rem 0 1rem;
}

.timestamp p {
	margin: 0;
}

#primary_nav_wrap ul
{
	list-style: none;
}

#primary_nav_wrap ul li
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0 .5rem 0 .5rem;
}

#primary_nav_wrap ul ul
{
	//display: none;
	opacity: 0;
	height: 0;
	position: absolute;
	top: 100%;
	left: -.9rem;
	background: #373a3c;
	padding: 0;
	overflow: hidden;

  -webkit-transition: all .1s ease .05s;
  -moz-transition: all .1s ease .05s;
  -o-transition: all .1s ease .05s;
  -ms-transition: all .1s ease .05s;
  transition: all .1s ease .05s;
}

#primary_nav_wrap ul ul li
{
	float: none;
	width: 9em;
}

#primary_nav_wrap ul li:hover > ul
{
	//display: block;
	opacity: 1;
	height: auto;
}