// Custom Styles

footer {
	font-size: .8rem;
}

table {
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: #333;
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	border: 1px solid #CCC;
	height: 30px;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-left: 1rem;
	padding-right: 1rem;

}

th {
background: #F3F3F3;
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

summary {
	padding: .3rem 1rem .3rem 1rem;
	background: #F3F3F3;
}

summary:hover {
	background: #FAFAFA;
}

a.anchor {
    display: block;
    position: relative;
    top: -5rem;
    visibility: hidden;
}

.disclaimer {
	font-size: .6rem;
}

.disclaimer-header {
	font-size: .7rem;
}

.div-link-wrap {
	display: table;
	margin: 0 auto;
}

.github-link {
	display: table;
	padding: 1rem 1.5rem 0 1.5rem;
	background: #F3F3F3;
	border-radius: 1rem;
	margin: 0 auto;
	margin-top: 2rem;
}

a .github-link {
	color: #373a3c;
}

a .github-link:hover {
	color: black;
	background: #EFEFEF;
}

.timestamp {
	font-size: .75rem;
	margin: 0 1rem 0 1rem;
}

.timestamp p {
	margin: 0;
}