// Bootstrap Starter Template, with a few tweaks

body {
    padding-top: 5rem;
}

blockquote {
	color: #212324;
	padding: .5rem 1rem;
  margin-bottom: .5rem;
  font-size: 1.1rem;
  border-left: .5rem solid #eceeef;
  border-right: .5rem solid #eceeef;
  background: #FAFAFA;

  ul {
  	margin-bottom: 0;
  }
}

blockquote p {
	margin: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 1.5rem;
	margin-bottom: .7rem;
}

h1, .h1 {
	font-size: 2.2rem;
	margin-bottom: 1.5rem;
}

h2, .h2 {
	font-size: 1.9rem;
	margin-bottom: 1.2rem;
}

h3, .h3 {
	font-size: 1.7rem;
}

hr {
	margin: .5rem;
}

pre {
	margin: 0;
}

.github-link {
	margin: 1rem;
}
.highlight {
	margin: 1.5rem;
	padding: .5rem;
	background: #eceeef;
}

.starter-template {
  padding: 1.5rem;
  text-align: center;
}

.navbar-nav {
	float: right !important;
}