<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Lazy Load CSS -->
    <!--[if !IE]> -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" lazyload>
    <!-- <![endif]-->
    
    {% include nav.html %}

    <!-- Main site container -->
    <div class="container">

      <a class="anchor" name="top-of-page"></a>

      {{ content }}

    </div> <!-- container -->

    <div class="timestamp text-xs-right">
      <p><strong>Site Updated:</strong> {{ site.time | date: '%b %d, %Y @ %R %Z' }}</p>
    </div>

    {% include footer.html %}

  </body>

</html>